@use "reset";
@use "typography";

$black-color: #19191a;
$cream-color: #f6f5f2;
$green-color: #3e685a;
$yellow-color: #ffb744;
$red-color: #ff4444;
$notification-green-color: #42bb6a;

$heading-font: "Alegreya Sans", sans-serif;
$body-font: neue-haas-unica;

$mq-mobile: 30rem; // 480px
$mq-tablet-portraits: 48rem; // 768px
$mq-tablet-landscape: 62rem; // 992px
$mq-laptops: 75rem; // 1200px

@mixin mq($width) {
  @media (max-width: $width) {
    @content;
  }
}

body {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;

  background-color: $cream-color;
  color: $black-color;
}

h1 {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: 7.5vw;
  line-height: 1.2;
}

h2 {
  font-size: 4vw;
}

@include mq($mq-tablet-landscape) {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 2rem;
  }
  body {
    font-size: 1.5rem;
  }
}

a {
  display: block;
}

.underline {
  text-decoration: underline $black-color 2px !important;
}

// styles for the header and nav

header {
  .logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 15;
  }

  .burger {
    position: absolute;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
    z-index: 15;
  }

  @include mq($mq-tablet-portraits) {
    .logo {
      top: 2rem;
      left: 2rem;
    }

    .burger {
      top: 2rem;
      right: 2rem;
    }
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;

  .button {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    color: $cream-color;

    background-color: $black-color;
    border-radius: 50px;
    padding: 1rem 2.5rem;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .button:hover {
    background-color: $green-color;
  }
}

// styles for the burger's menu

.menu {
  background-color: $green-color;
  // color: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 2;
}

.open {
  transform: translateX(0);
}

.menu .pages {
  // right: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu .pages a {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 500;
  font-size: 6.5rem;
  line-height: 1.5;

  color: $black-color;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

.menu .pages a:hover {
  color: $cream-color;
}

@include mq($mq-tablet-portraits) {
  .menu .pages a {
    line-height: 1.2;
    font-size: 5rem;
  }
}

// styles for home's first-section
.first-section {
  height: 100vh;
  justify-content: space-between;

  .text {
    margin-top: 2rem;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }

  .button {
    margin-top: 2rem;
  }

  @include mq($mq-laptops) {
    .image-wrapper {
      width: 34vw;
    }
  }

  @include mq($mq-tablet-landscape) {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
    padding: 0 2rem;

    .text {
      align-items: center;
      flex-direction: column;
      display: flex;
      padding: 0 11rem;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .button {
      margin-top: 2rem;
    }

    .image-wrapper {
      width: 40%;
    }

    img {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  @include mq($mq-tablet-portraits) {
    height: auto;
    margin: 6rem 0 4rem 0;

    .button {
      margin-top: 1.5rem;
    }

    .image-wrapper {
      width: 50vw;
      margin-top: 2rem;
      img {
        margin: 0;
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

// styles for home's second section

.second-section {
  padding: 0;
  background-color: $green-color;
  height: 100vh;
  display: flex;

  div {
    width: 50%;
    height: 100%;
  }

  div.image-fit {
    height: 65%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include mq($mq-tablet-portraits) {
    display: block;
    height: auto;

    div.image {
      width: 100%;
      height: 40vh;
    }

    div.home-shop-info {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 4rem 0;
      font-size: 1.5rem;
    }
  }
}

.home-shop-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10rem;

  p {
    color: $cream-color;
  }

  span {
    box-shadow: inset 0px -2px 0px $cream-color;
  }

  @include mq($mq-tablet-landscape) {
    padding-left: 5rem;
  }
}

// styles for home's third section (marquee)

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.third-section {
  width: 100%;
  align-items: inherit;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;

  .marquee {
    left: 0;
    width: 100%;
    font-size: 5vw;
    line-height: 1;
    /* this will stop the long text from causing scroll bars
    by hanging outisde of the marquee box area */
    overflow: hidden;
    white-space: nowrap;

    h1 {
      margin: 4rem 0;
    }
  }

  .marquee span {
    /* this is the shorthand (brief) version of the animation css rule*/
    animation: moveLeft 200s infinite;
    /* this will ensure the text stays all on the same line */
    white-space: nowrap;
    /* our span is inline by default, so here we tell it to be block   */
    display: block;
    /*  this will let us add our animation  */
    position: relative;
    transform: translateX(-70px);
  }

  .below-marquee {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 7rem;

    h2 {
      padding-left: 4rem;
      text-decoration: underline $black-color 2px !important;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  @include mq($mq-tablet-landscape) {
    display: block;
    height: auto;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;

    .marquee {
      // padding-top: 2rem;
      // margin-bottom: 4rem;
      /* here we reset our marquee back to its default position */
      position: relative;
      top: auto;
      left: auto;
      // margin-bottom: 24px;
    }

    .below-marquee {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 0;
    }

    h1 {
      margin: 0;
    }

    h2 {
      padding: 4rem;
    }

    img {
      padding: 0;
      width: 100%;
      object-fit: cover;
      height: 60vh;
    }
  }
}

// styles for home's fourth section

.fourth-section {
  justify-content: space-between;
  height: auto;
  padding: 0;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;

    img {
      width: 50vw;
      height: auto;
      object-fit: cover;
    }

    .illustration_leaf {
      height: 32vh;
      margin-top: 6rem;
      width: auto;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  img {
    width: 68%;
    height: 40vh;
    object-fit: cover;
  }

  @include mq($mq-tablet-landscape) {
    .left img {
      width: 100%;
    }

    .illustration_leaf {
      display: none;
    }

    .right {
      display: none;
    }
  }
}

// footer styles
footer {
  background-color: $green-color;
  color: $cream-color;
  padding: 5.5rem 4rem;
  display: flex;
  margin-top: 5rem;

  a {
    text-decoration: none;
    color: $cream-color;
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }

  a:hover {
    opacity: 0.5;
  }

  .location-heading,
  .follow-heading {
    display: inline-block;
    margin-bottom: 1rem;
    box-shadow: inset 0px -2px 0px #f6f5f2;
  }

  .left {
    width: 50%;
    img {
      margin-bottom: 3rem;
    }
    h1 {
      font-size: 5rem;
    }
  }

  .right {
    width: 50%;
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include mq($mq-laptops) {
    .right {
      padding-left: 4vw;
    }
  }

  @include mq($mq-tablet-landscape) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    h1 {
      display: none;
    }

    .left {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        margin-bottom: 4rem;
      }
    }

    .right {
      padding: 0;
      justify-content: center;

      .location {
        display: none;
      }
      .follow {
        text-align: center;
      }
    }
  }
} //footer ends

// styles for menu page

section.menu-page:nth-child(even) {
  flex-direction: row-reverse;
  margin: 0;
}

.menu-page {
  padding: 0;
  display: flex;
  z-index: -1;
  height: inherit;
  align-items: unset;

  div {
    width: 50%;
  }

  span {
    box-shadow: inset 0px -2px 0px $black-color;
  }
  .text {
    margin-top: 2rem;
    padding: 4rem;
  }
  .full-image {
    height: 100vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  @include mq($mq-tablet-landscape) {
    p {
      font-size: 1.5rem;
    }
    span {
      box-shadow: inset 0px -1px 0px $black-color;
    }
  }

  @include mq($mq-tablet-portraits) {
    display: block;
    margin-top: 8rem;

    .full-image {
      width: 100%;
      height: 40vh;
      position: inherit;
    }
    .text {
      width: 100%;
      margin: 0;
    }
  }
}

.no-margin {
  margin: 0;
}

.image-1 {
  background-image: url(./images/image1.jpg);
}

.image-3 {
  background-image: url(./images/image3.jpg);
}

.image-5 {
  background-image: url(./images/image5.jpg);
}

.image-6 {
  background-image: url(./images/image6.jpg);
}

// styles for visit page

.visit-first-section {
  height: auto;
  padding: 10rem 0 0 0;
  align-items: flex-start;

  img,
  .text {
    width: 50%;
  }

  .text {
    padding: 0 6rem;
  }

  @include mq($mq-tablet-landscape) {
    .text {
      padding: 0 4rem;
    }
  }

  @include mq($mq-tablet-portraits) {
    display: block;
    padding: 8rem 0 0 0;

    img,
    .text {
      width: 100%;
    }

    .text {
      font-size: 1.5rem;
      padding: 4rem 4rem 0 4rem;
      width: 80%;
    }
  }

  @include mq($mq-mobile) {
    .text {
      padding: 2rem 2rem 0 2rem;
      font-size: 1.2rem;
    }
  }
}

// styles for merch page

.merch-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-gap: 1rem;
  padding: 10rem 2rem 2rem 2rem;
  font-size: 1.2rem;
  height: auto;
  grid-auto-rows: 28vw;

  img {
    padding-bottom: 0.4rem;
    transition: all 0.2s ease;
  }

  img:hover {
    opacity: 0.65;
  }

  @include mq($mq-tablet-portraits) {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 2rem 2rem;
  }
}
