@use "reset";
@use "typography";

$black-color: #19191a;
$cream-color: #f6f5f2;
$green-color: #3e685a;
$yellow-color: #ffb744;
$red-color: #ff4444;
$notification-green-color: #42bb6a;

$heading-font: "Alegreya Sans";
$body-font: neue-haas-unica;

body {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;

  background-color: $cream-color;
  color: $black-color;
}

h1 {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 1.2;
}

a {
  display: block;
  // line-height: 0;
}

.green-bg {
  background-color: $green-color;
}

.image-fit img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header {
  .logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  .burger {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;

  h1 {
    line-height: 1;
    display: block;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    color: $cream-color;

    background-color: $black-color;
    border-radius: 50px;
    padding: 1rem 2.5rem;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .button:hover {
    background-color: $green-color;
  }
}

// styles for home's second section

.second-section {
  div.image-fit {
    height: 65%;
  }
}

.home-shop-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10rem;

  p {
    color: $cream-color;
  }

  span {
    box-shadow: inset 0px -2px 0px $cream-color;
  }
}

// styles for home's third section (marquee)

.third-section {
  align-items: inherit;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.marquee {
  // position: absolute;
  // top: 3vh;
  padding-top: 6rem;
  left: 0;
  width: 100%;
  /* each letter will be 5% of the viewport with (vw) */
  font-size: 5vw;
  line-height: 1;
  /* this will stop the long text from causing scroll bars by hanging outisde of the marquee box area */
  overflow: hidden;
  white-space: nowrap;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee span {
  /* this is the shorthand (brief) version of the animation css rule*/
  animation: moveLeft 200s infinite;
  /* this will ensure the text stays all on the same line */
  white-space: nowrap;
  /* our span is inline by default, so here we tell it to be block   */
  display: block;
  /*  this will let us add our animation  */
  position: relative;
  transform: translateX(-70px);
}

.below-marquee {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 4rem;

  h2 {
    font-size: 3.5rem;
    padding-left: 4rem;
    text-decoration: underline solid $black-color 2px;
    // text-decoration-color: $black-color;
    // text-decoration-thickness: 2px;
  }

  img {
    height: 50vh;
  }
}

@media (max-width: 640px) {
  .marquee {
    /* here we reset our marquee back to its default position */
    position: relative;
    top: auto;
    left: auto;
    width: 90vw;
    margin-bottom: 24px;
  }
}

// styles for home's fourth section

.fourth-section {
  justify-content: space-between;
  height: auto;
  padding: 0;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;

    img {
      width: 50vw;
      height: auto;
      object-fit: cover;
    }

    .illustration_leaf {
      height: 32vh;
      margin-top: 6rem;
      width: auto;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  img {
    width: 68%;
    height: 40vh;
    object-fit: cover;
  }
}

// footer styles
footer {
  background-color: $green-color;
  color: $cream-color;
  padding: 5.5rem 4rem;
  display: flex;
  margin-top: 5rem;

  a {
    text-decoration: none;
    color: $cream-color;
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }

  a:hover {
    opacity: 0.5;
  }

  .location-heading,
  .follow-heading {
    display: inline-block;
    margin-bottom: 1rem;
    box-shadow: inset 0px -2px 0px #f6f5f2;
  }

  .left {
    img {
      margin-bottom: 3rem;
    }
    h1 {
      font-size: 5rem;
    }
  }

  .right {
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
