@import url("https://use.typekit.net/wws5dro.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap");

body {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
}
